<!DOCTYPE html>
{% extends 'eShop/base.html' %}
{% load static %}

{% block title %}{{ title }}{% endblock %}


{% block content %}


<div class="container mt-5 mb-5" style="min-height: 700px;">

    {% if baskets %}

    <div class="row mb-5">
        <div class="col-12">
            <h2 class="section-title">
                <span>Корзина</span>
            </h2>
        </div>
    </div>

    <div class="row">

        {% for basket in baskets %}

        <div class="col-lg-3 col-md-4 col-sm-6 mb-3">
            <div class="product-card">
                <div class="product-thumb">
                    <a href="#"><img src="{{ basket.product.image.url }}" alt=""></a>
                </div>
                <div class="d-flex justify-content-end">
                    <a href="{% url 'reviews_add' basket.product.id %}">Отзывы</a>
                </div>
                <div class="product-details">
                    <h4>
                        <a href="#">{{ basket.product.name }}</a>
                    </h4>
                    <p class="product-excerpt">
                        {{ basket.product.description }}
                        <!-- <input type="number" name="basketID" class="form-control" value="{{ basket.quantity }}" min="0">   -->
                    </p>
                    <div class="product-bottom-details d-flex justify-content-between">
                        <span>x{{ basket.quantity }}</span>
                        <div class="product-price">
                            ${{ basket.sum }}
                        </div>

                        <!-- <div class="product-links">
                            <a href="#" class="btn btn-warning add-to-cart">
                                <i class="fa-solid fa-cart-plus"></i>
                            </a>
                        </div> -->
                    </div>
                    <div class="d-flex justify-content-center mt-3">
                        <a href="{% url 'basket_remove' basket.id %}" class="btn btn-danger add-to-cart">
                            Удалить
                        </a>
                    </div>
                </div>
            </div>
        </div>

        {% endfor %}
        <div class="mt-5 mb-5">
            <div class="d-flex justify-content-start mt-2">
                <h5>
                    Колличество товаров: <span style="font-size: 23px; font-weight: bold; color: #ffc107;">
                        {{ baskets.total_quantity }}</span>
                </h5>
            </div>
            <div class="d-flex justify-content-start mt-2">
                <h5>
                    Итоговая сумма: <span style="font-size: 23px; font-weight: bold; color: #ffc107;">
                        $ {{ baskets.total_sum }}</span>
                </h5>
            </div>
            <div class="d-flex justify-content-start mt-4">
                <button type="submit" class="btn btn-warning">
                    Оформить заказ
                </button>
            </div>
        </div>
    </div>

    {% else %}

    <div class="row mb-5">
        <div class="col-12">
            <h2 class="section-title">
                <span>Корзина пуста</span>
            </h2>
        </div>
    </div>

    {% endif %}

</div>


{% endblock %}