<!DOCTYPE html>
{% extends 'eShop/base.html' %}
{% load static %}

{% block title %}{{ title }}{% endblock %}


{% block content %}
<div class="container vh-100 mt-5">
    <div class="row mb-5">
        <div class="col-12">
            <h2 class="section-title">
                <span>Условия доставки</span>
            </h2>
        </div>
    </div>

    <div class="delivery-info">
        <p>Мы понимаем, насколько важно для вас получение вашего нового устройства в кратчайшие сроки и в идеальном
            состоянии. Поэтому мы стремимся сделать процесс доставки максимально простым и удобным для наших клиентов.
        </p>
        <h3>Сроки доставки</h3>
        <p>- Быстрая доставка: Мы осуществляем доставку по всей стране, и в большинстве случаев ваши товары доставляются в
            течение 1-3 рабочих дней.
            - Обработка заказов: Все заказы обрабатываются в течение 24 часов с момента их оформления.</p>
        <h3>Стоимость доставки</h3>
        <p>- Бесплатная доставка: Заказы на сумму от 5000 рублей доставляются бесплатно.
            - Доставка при меньшей сумме: Если ваш заказ составляет менее 5000 рублей, стоимость доставки составит всего 350
            рублей.</p>
        <h3>Методы доставки</h3>
        <p>Мы работаем с надежными службами доставки, чтобы гарантировать, что ваш заказ дойдет до вас в срок. Вы можете
            выбрать один из следующих методов доставки: <br>
    
            - Курьерская доставка: Мы можем доставить ваш заказ прямо к вам на дом или в офис. Выбор времени доставки
            осуществляется по согласованию с вами.
            - Почта России: Доставка через Почту России возможна по всей стране, включая удаленные районы.
            - Службы экспресс-доставки: Мы также сотрудничаем с "СДЭК" и "Boxberry" для быстрой и комфортной доставки.</p>
        <h3>Отслеживание заказа</h3>
        <p>После отправки заказа на ваш электронный адрес будет выслано сообщение с номером для отслеживания. Вы сможете
            легко контролировать местонахождение вашей посылки на сайте выбранной службы доставки.</p>
        <h3>Обращайтесь к нам!</h3>
        <p>Если у вас возникли вопросы или нужна помощь в процессе оформления заказа, наша команда поддержки всегда готова
            помочь вам. Свяжитесь с нами по указанным на сайте контактам.</p>
        <p class="strong"><strong>Спасибо, что выбираете наш интернет-магазин! Мы сделаем все возможное, чтобы ваш опыт покупки был максимально
            положительным!</strong></p>
    </div>
</div>
{% endblock %}