<!DOCTYPE html>
{% extends 'eShop/base.html' %}
{% load static %}

{% block title %}{{ title }}{% endblock %}


{% block content %}
<section class="vh-100">
   <div class="container py-5 h-100">
      <div class="row mt-2 justify-content-center align-items-center">
         <div class="col-md-4">

            {% if messages or form.non_field_errors %}
            <div class="alert {% if messages %} alert-success {% else %} alert-danger {% endif %} alert-dismissible fade show" role="alert">
               {% if messages %}
                  {% for message in messages %}
                     {{ message }}
                  {% endfor %}
               {% else %}
                  {{ form.non_field_errors }}
               {% endif %}

               <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            {% endif %}
           
            <div class="card" style="box-shadow: 0 5px 5px rgba(13, 11, 9, 0.2);">
               <div class="card-body">
                  <h2 class="text-center mb-5 mt-3">Вход</h2>
                  <form action="{% url 'login' %}" method="POST">
                     <div class="form-outline mb-4">

                        {% csrf_token %}

                        <label class="form-label" for="{{ form.username.id_for_lable }}">
                           Имя пользователя
                        </label>
                        {{ form.username }}
                     </div>
                     <div class="form-outline mb-4">
                        <label class="form-label" for="{{ form.password.id_for_lable }}">
                           Пароль
                        </label>
                        {{ form.password }}
                     </div>
                     <button type="submit" class="btn btn-warning btn-block mb-4" style="width: 100%;">Войти</button>
                  </form>
                  <div class="text-center">
                     <p>Нет аккаунта?<a href="{% url 'register' %}" class="text-decoration-none"> Зарегистрироваться
                        </a></p>
                     <p>
                        <hr>
                     </p>
                     <button type="button" class="btn btn-floating btn-floating mx-1">
                        <i class="fab fa-facebook-f"></i>
                     </button>
                     <button type="button" class="btn btn-floating btn-floating mx-1">
                        <i class="fab fa-google"></i>
                     </button>
                     <button type="button" class="btn btn-floating btn-floating mx-1">
                        <i class="fab fa-twitter"></i>
                     </button>
                     <button type="button" class="btn btn-floating btn-floating mx-1">
                        <i class="fab fa-github"></i>
                     </button>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</section>
{% endblock %}