<!DOCTYPE html>
{% extends 'eShop/base.html' %}
{% load static %}

{% block title %}{{ title }}{% endblock %}


{% block content %}
<section class="vh-100">
   <div class="container py-5 h-100">
      <div class="row mt-2 justify-content-center align-items-center">
         <div class="col-md-4">

            {% if messages or form.non_field_errors %}
            <div class="alert {% if messages %} alert-success {% else %} alert-danger {% endif %} alert-dismissible fade show" role="alert">
               {% if messages %}
                  {% for message in messages %}
                     {{ message }}
                  {% endfor %}
               {% else %}
                  {{ form.non_field_errors }}
               {% endif %}

               <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            {% endif %}


            <!-- {% if form.non_field_errors %}
            <div class="alert alert-danger alert-dismissible fade show" role="alert">                          
               {{ form.non_field_errors }}
               <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            {% endif %}

            {% if messages %}
            <div class="alert alert-success  alert-dismissible fade show" role="alert">               
               {% for message in messages %}
                  {{ message }}   
               {% endfor %}            
               <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            {% endif %} -->

            
            <div class="card" style="box-shadow: 0 5px 5px rgba(13, 11, 9, 0.2);">
               <div class="card-body">
                  <h2 class="text-center mb-5 mt-3">Вход</h2>
                  <form action="{% url 'login' %}" method="POST">
                     <div class="form-outline mb-4">

                        {% csrf_token %}

                        <label class="form-label" for="{{ form.username.id_for_lable }}">
                           Имя пользователя
                        </label>
                        {{ form.username }}
                     </div>
                     <div class="form-outline mb-4">
                        <label class="form-label" for="{{ form.password.id_for_lable }}">
                           Пароль
                        </label>
                        {{ form.password }}
                     </div>
                     <button type="submit" class="btn btn-warning btn-block mb-4" style="width: 100%;">Sign in</button>
                  </form>
                  <div class="text-center">
                     <p>Нет аккаунта?<a href="{% url 'register' %}" class="text-decoration-none"> Зарегистрироваться
                        </a></p>
                     <p>
                        <hr>
                     </p>
                     <button type="button" class="btn btn-floating btn-floating mx-1">
                        <i class="fab fa-facebook-f"></i>
                     </button>
                     <button type="button" class="btn btn-floating btn-floating mx-1">
                        <i class="fab fa-google"></i>
                     </button>
                     <button type="button" class="btn btn-floating btn-floating mx-1">
                        <i class="fab fa-twitter"></i>
                     </button>
                     <button type="button" class="btn btn-floating btn-floating mx-1">
                        <i class="fab fa-github"></i>
                     </button>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</section>






<!-- <div class="row d-flex justify-content-center align-items-center h-100">
         <div class="col-12 col-md-8 col-lg-6 col-xl-5">
            <div class="card shadow-2-strong" style="border-radius: 1rem;">
               <div class="card-body p-5 text-center">
                  <h3 class="mb-5">Sign in</h3>

                  <form action="{% url 'login' %}" method="POST">
                     {% csrf_token %}
                     {{ form.as_p }}
                     <button data-mdb-button-init data-mdb-ripple-init class="btn btn-primary btn-lg btn-block"
                        type="submit">Авторизоваться</button>
                  </form>

                  <hr class="my-4">
                  <button data-mdb-button-init data-mdb-ripple-init class="btn btn-lg btn-block btn-primary"
                     style="background-color: #dd4b39;" type="submit"><i class="fab fa-google me-2"></i> Sign in with
                     google</button>
                  <button data-mdb-button-init data-mdb-ripple-init class="btn btn-lg btn-block btn-primary mb-2"
                     style="background-color: #3b5998;" type="submit"><i class="fab fa-facebook-f me-2"></i>Sign in with
                     facebook</button>

               </div>
            </div>
         </div>
      </div> -->




<!-- <form action="{% url 'login' %}" method="post">
   <div data-mdb-input-init class="form-outline mb-4">
      <label class="form-label" for="typeEmailX-2">Email:</label>
      <input type="email" id="typeEmailX-2" class="form-control form-control-lg" />                        
   </div>

   <div data-mdb-input-init class="form-outline mb-4">
      <label class="form-label" for="typePasswordX-2">Password</label>
      <input type="password" id="typePasswordX-2" class="form-control form-control-lg" />                        
   </div>

   Checkbox
   <div class="form-check d-flex justify-content-start mb-4">
      <input class="form-check-input" type="checkbox" value="" id="form1Example3" />
      <label class="form-check-label" for="form1Example3"> Remember password </label>
   </div>

   <button data-mdb-button-init data-mdb-ripple-init class="btn btn-primary btn-lg btn-block"
      type="submit">Login</button>
</form> -->




<!-- <div class="container">
   <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
      aria-labelledby="staticBackdropLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
         <div class="modal-content">
            <div class="modal-header">
               <h1 class="modal-title fs-5" id="staticBackdropLabel">Авторизация</h1>
               <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
               <div class="form-container login-container">
                  <form action="#" method="POST">
                     <input type="email" placeholder="Электронная почта" name="email" required />
                     <input type="password" placeholder="Пароль" name="password" required />
                     <button type="submit" class="btn btn-warning">Войти</button>
                  </form>
               </div>
            </div>
            <div class="modal-footer">
               <span>Нет аккаунта? <a href="#">Зарегистрироваться</a></span>
            </div>
         </div>
      </div>
   </div>
</div> -->
{% endblock %}